body{
    padding:0;
    margin:0;
}

h1{
    font-size:20px;
    color:orangered;
}

.site-title{
    padding-left: 20px;
    color:orchid;
    font-size:2em;
    text-shadow: -2px -2px 2px gray;
}

AppHeader{
    background-color:gray;
}

header{
    display:flex;
    background-color:black;
    height:80px;
}

.app{
    display:flex;
    flex-direction:column;
}

.game{
    background-color: rgb(82, 187, 201);
    border:2px solid gray;
    padding:10px;
    margin-top:30px;
    width:200px;
    height:400px;
    align-self:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}

.allgame{
    display:flex;
    margin-left: 50px;
    column-gap: 50px;
}

.board{
    width:100%;
    height:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.cells{
    width:180px;
}

.cell{
    width:60px;
    height:60px;   
    background-color:white;
    
}

.status{
    font-size:1.5em;
    font-weight: bold;
}

.reset-button{
    width:100%;
    background-color:rgb(231, 105, 105);
    color:white;
    padding:10px;
}

.Sboard{
    background-color: rgb(82, 187, 201);
    border:2px solid gray;
    padding:15px;
    margin-top: 60px;
    width:300px;
    height:210px;
    margin-bottom:30px;
    align-self:center;
    flex-direction:column;
    align-items:center;
}

.h2tag{
    
    margin-left: auto;
    margin-right: auto;
    color:rgb(231, 105, 105);;
}

.temp{
    background-color: rgb(82, 187, 201);
}

.info{
    height: 200px;
    width: 50%;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 50px;
}

table, th, td{
    border:1px solid black;
    width:200%;
    background-color: rgb(82, 187, 201);
    text-align: center;
    margin-top:30px;
}

th{
    color:white;
    background-color: rgb(231, 105, 105);
}

